<div class='sentByServer'>
	<div class='payment'>
		<div class='paymentHeading'>You're ready to pay <span class='whiteText'>{{amount}}</span> to <span class='whiteText'>{{person}}</span>
			<div class='bigRound'><img {{#if url}} src={{url}} {{else}} src='images/emptyContact.jpg' {{/if}}></img></div>
		</div> 
		<div class='paymentFrom'>From {{account}} Account</div>
		<div class='paymentAccountInfo'>
			<div class='paymentAccountLabels'>
				<div>A/C#:</div>
				<div>Bank Name:</div>
				<div>FCS Code:</div>
			</div>
			<div class='paymentAccountData'>
				<div>{{accountNumber}}</div>
				<div>{{bankName}}</div>
				<div>{{fcs}}</div>
			</div>
		</div>
		<div class='paymentOptions'>
			<div class='payNow'>Pay Now</div>
			<div class='cancel'>Cancel</div>
		</div>

	</div >
</div>